@charset "UTF-8";

/* CSS Document */

body {
	background-image: url(../img/BG.png);
	background-position: top center;
	background-size:cover;
}


footer {
	background-color: #163e69;
	padding: .5% 2%;
	color: #fff;
	margin: 30px 0;
}

.onlogo {
	margin: 16% 4% 4% 4%;
}

.bannerad {
	margin: 7% 4% 4% 4%;
}
.jborder {
	border: 1px solid #FFFFFF;
	background-color: white;
	padding: 20px;
}

.bblogo { 
	margin: 15% 4% 4% 4%; }

.banner { margin: 12% 4% 4% 4%; }

.jumbotron {
	background-color: #163e69;
}

.jumbotron h1 {
	color:white; 
}

.jumbotron p {
	color: white;
}







